.input,
textarea,
.submit,
form {
  font-family: 'Poppins', sans-serif;
}

.form-container,
.form-inner,
form {
  display: flex;
  justify-content: center;
}

div h1 {
  color: #dffb6d;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.form-container {
  background-color: #25292c;
  width: 100%;
}

form {
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.form-inner {
  flex-direction: column;
  align-items: center;
  padding: 2em 0px 3em 0px;

}

.input {
  border: 1px solid #25292c;
  border-radius: 10px;
  height: 2.5em;
  margin-bottom: 1em;
  text-indent: 1em;  
  outline: none;
}

input:focus,
textarea:focus
 {
  background-color: #dffb6d;
}

textarea {
  resize: none;
  border-radius: 10px;
  margin-bottom: 1em;
  text-indent: 1em;
  outline: none;
}


.submit {
  background-color: #dffb6d;
  text-indent: none;
  border: none;
  border-radius: 10px;
  height: 3em;
  width: 100%;
}

.center-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.submit:hover {
  background-color: #b4cc53;
}

@media (min-width: 600px) {

  form {
    width: 500px;
  }

  .submit {
    width: 10em;
  }

}

