.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.hero {
  width: 100%;
  position: relative;
}

.icon-list {
  display: flex;
  justify-content: center;
  margin-top: .2em;
  padding: 1em;
}

h1, p {
  color: white;
  text-shadow: 3px 8px 10px black;
}

.main-home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em;

}

.icon {
  font-size: 1.5em;
  background-color: #2e2d2f;
  color: white;
  border-radius: 50%;
  padding: .5em;
}


.icon-link {
  display: block;
  padding: 0 12px;
}

.icon:hover {
  background-color: #ebff7e;
  color: #2e2d2f;
}

/*************** Desktp Layout *******************/

@media (min-width: 600px) {
  .text {
    display: flex;
    position:initial;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: 2em;
    margin-right: 2em;
    
  }
  

  h1, p {
    color: black;
    text-shadow: none;

  }
  
  h1 {
    margin: 5px 0;
  }
  
  p {
    font-size: 1.1rem;
  }

  .iframe {
  width: 60%;
}
}
