.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero {
  width: 100%;
  position: relative;
}

.icon-list {
  display: flex;
  justify-content: center;
  margin-top: .2em;
  padding: 1em;
}

.text {
  position: absolute;
  bottom: 10px;
  padding: 1em;
}

h1, p {
  color: white;
  text-shadow: 3px 8px 10px black;
}

h1 {
  margin: 5px 0;
}

p {
  font-size: 1.5rem;
}

.icon {
  font-size: 1.5em;
  background-color: #DFFB6D;
  color: black;
  border-radius: 50%;
  padding: .5em;
}


.icon-link {
  display: block;
  padding: 0 12px;
}

.icon:hover {
  background-color: black;
  color: #DFFB6D;
}

/*************** Desktp Layout *******************/

@media (min-width: 600px) {
  .text {
    display: flex;
    position:initial;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: 2em;
    margin-right: 2em;
    
  }

  h1, p {
    color: black;
    text-shadow: none;

  }
  
  h1 {
    margin: 5px 0;
  }
  
  p {
    font-size: 1.1rem;
  }

  .iframe {
  width: 60%;
}
}
