.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-shape-container {
  height: 500px;
  background-image: url("src/assets/hero.PNG");
  background-size: cover;
  background-position-x: -90px;
  width: 100%;
}

.image-main {
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}

.icon-list {
  display: flex;
  justify-content: center;
  margin-top: .2em;
  padding: 1em;
}

.text {
  margin: 0 40px;
  margin-top: 360px;
}

h1, p {
 
  color: white;
  text-shadow: 3px 8px 10px black;
}

h1 {
  margin: 5px 0;
}

.icon {
  font-size: 1.5em;
  background-color: #DFFB6D;
  color: black;
  border-radius: 50%;
  padding: .5em;
}

/* Desktp Layout */

@media (min-width: 500px) {
  .text {
background-color: aqua;
  }

  
}

/* .iframe {
  width: 50%;
} */
