body {
  text-align: center;
  margin: 100px auto;
  background-color: rgb(247, 249, 243);
}

h1 {
  font-size: 2rem;
  letter-spacing: 7px;
  margin: 0;
}

h2{
  font-family: 'Tenor Sans', sans-serif;
  margin: 0;
  padding: 1em;
}

.hero {
  background-image: url('src/assets/image1.jpeg');
  background-size: cover;
  height: 200px;
  width: 400px;
  margin: 0 auto;
}

.image-logo {
  width: 150px;
  }

